body {
    background-color: black;
}
/* Navbar Styling */
.navbar, footer {
    color: white;
    background-color: #000000; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,  #000000 , #602ec8);
    
}


/* Styling the Jumbotron */
.jumbotron {
    background-image: url('../images/header-image.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    /* background-size:100%; */
    /* height: 650px; */
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px #333;
  }

.section-heading{
    padding: 20px;
    color: white;
}

.shape1 {
    display: block;
    position: absolute;
    bottom: -258px;
    left: -17px;
    border-top: calc(40px + 4vw) solid transparent;
    border-right: 100vw solid rgb(0, 0, 0); 
}

.card-img-top{
    height: 250px;

}
a.nav-link {
    display: inline;
}

/* footer */
.text-center {
    margin-bottom: 0px;
}

/* Media Queries */

/* @media only screen and (max-width: 979px) {
    .container {
        max-width: 850px;
    }
  

}

@media only screen and (max-width: 769px) {
    .shape1 {
        bottom: -410px;
        left: 0px;
    }
   

} */