/* Styling the Jumbotron */
.jumbotron {
    background-image: url(../assets/funtime-banner.png);
    background-size:contain;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px #333;
  }